<!--
 * @Description: 
 * @Version: 2.0
 * @Autor: ymw
 * @Date: 2021-04-21 14:41:45
 * @LastEditors: ymw
 * @LastEditTime: 2021-04-22 16:37:30
-->
<!DOCTYPE html>
<html>
  <head>
    <title>CSRF Test</title>
    <meta content="<%= csrfToken %>" name="csrf-token">
  </head>
  <body>
    <form method="post" action="/process" class="ng-pristine ng-valid">
      <input value="value" name="input1">
      <input value="value2" name="input2">
      <input type="hidden" value=<%= csrfToken %> name="_csrf">  
      <button type="submit">submit</button>
   </form>

   <p><%= csrfToken %></p>
  </body>
</html>